{% extends "base.html" %}

{% block "content" %}

{% ifequal username user.nickname %}
<form method="post" action="addfeed/">
    <label for="keyword">Add subscription:</label>
    <input type="text" name="keyword" />
</form>

<h2>Your subscriptions</h2>
{% else %}
<h2>{{ username }}'s subscriptions</h2>

{% endifequal %}

{% for feed in user_feeds %}
<p>
    <a href="/{{ username }}/{{ feed.key }}/">{{ feed.name }}
    {% ifnotequal feed.name feed.description %}
         - {{ feed.description }}
    {% endifnotequal %}
    </a>

{% ifequal username user.nickname %}
    &nbsp;
    <a href="/{{ username }}/{{ feed.key }}/removesub/">remove</a>
{% endifequal %}
</p>
{% endfor %}

{% endblock %}
